* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
}
header {
  min-height: 70vh;
  background: #2fb5fc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #8352fd,
    #2fb5fc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #8352fd,
    #2fb5fc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.t-shadow {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#navbarSupportedContent > a {
  margin-left: -1rem;
}
.btn {
  margin: 1rem 2rem;
}
body > header > nav > div > button > span.navbar-toggler-icon {
  color: white !important;
}
#left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 3.5rem;
}
#right {
  padding: 2rem 1rem;
}
#right img {
  min-width: 300px;
  width: 80%;
}
main {
  width: 100%;
}
.read-more {
  background-color: #8352fd;
  color: #fff;
}

main .container-fluid {
  padding: 1rem;
}
main .container-fluid .row {
  padding: 1rem;
  gap: 0.5rem;
}
main .container-fluid .row .list-group {
  padding: 1rem;
}
main .container-fluid .row .list-group li {
  list-style: none;
  padding: 0.25rem;
}
main .container-fluid .row .list-group a {
  text-decoration: none;
  color: #2fb5fc;
}
main .container-fluid .row .col-md-3 {
  background-color: #3f3d56;
  color: #fff;
  padding: 0 1rem;
  border-radius: 4px;
}
main .container-fluid .row .col-md-3 .charts i {
  font-size: 2rem;
}
main .container-fluid .row .col-md-4 {
  padding: 0;
}
.box:hover {
  cursor: pointer;
  box-shadow: 0 0 4px rgb(194, 192, 192);
  transition: transform 300ms ease;
  transform: scale(1.015);
}
#footer {
  justify-content: flex-end;
  padding: 1rem 0 0rem 4rem;
}
#footer .col-md-3 {
  padding-left: 1.5rem;
}
#footer .col-md-3 .fas {
  margin-left: -1rem;
  margin-right: 0.5rem;
  color: #8352fd;
}
#footer .col-md-3 ul li a {
  color: #111;
  transition: 350ms ease;
  text-decoration: none;
}
#footer .col-md-3 ul li a:hover {
  color: #8352fd;
}
#footer .col-md-3 ul li {
  list-style: square;
}
#footer .col-md-3 h4:not(:nth-child(4)) {
  margin-bottom: 1.5rem;
}
